.mbox {
	width:180px;
	height:180px;
	border:1px solid black;
	cursor:pointer;
    font-size: 50px;
	background-color: white;
}

h1 {
	color: white;
	padding: 15px;
}

body {
    text-align: center;
	background-color: rgb(20, 20, 92);
}



#clear {
	position: relative;
	width: 130px;
	height: 55px;
	border-radius: 45px;
	border: none;
	background-color: rgb(249, 250, 255);
	color: black;
	box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
	0px 5px 10px rgba(5, 5, 5, 0.212),
	0px -10px 10px rgb(200, 191, 247) inset;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	font-size: 20px;
  }
  
  #clear::before {
	width: 70%;
	height: 2px;
	position: absolute;
	background-color: rgba(250, 250, 250, 0.678);
	content: "";
	filter: blur(1px);
	top: 7px;
	border-radius: 50%;
  }
  
  #clear::after {
	width: 70%;
	height: 2px;
	position: absolute;
	background-color: rgba(250, 250, 250, 0.137);
	content: "";
	filter: blur(1px);
	bottom: 7px;
	border-radius: 50%;
  }
  
  #clear:hover {
	animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
	0% {
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	100% {
	  transform: scale3d(1, 1, 1);
	}
  }
  